{% extends 'base.html' %}

{% block title %}Leaderboard{% endblock %}

{% block content %}

{% block styles %}
<style>
    h1 {
        font-size: 48px;
        color: #333;
        text-align: center;
        margin-top: 50px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
    }

    h2 {
        font-size: 36px;
        color: #555;
        margin-top: 50px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
    }

    p {
        font-size: 18px;
        color: #777;
        line-height: 1.5;
        margin-bottom: 20px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
    }
</style>
{% endblock %}

<div class="container">
  <div class="section-title text-center">
    <h1>Leaderboards</h1>
    <p class="text-muted">Get to know who we are and what we do</p>
  </div>
  <div class="row about-info">
    <div class="col-lg-12">
      <p>We are a sports betting company that provides expert game predictions, user competitions, and user chats to our clients. Our goal is to bring together a community of sports fans who want to not only support their favorite teams, but also compete with each other and become experts themselves. </p>
      <p>We believe in empowering our users with the tools to make informed decisions and help them win. Whether it's by accessing our team of experts or creating your own algorithms, we are dedicated to making sure our users are successful. </p>
      <p>So why choose us? Our team of experts has years of experience in the sports betting industry and they stay up-to-date on the latest trends and developments in the market. Additionally, we provide a platform for users to represent their teams and connect with other fans to exchange insights and strategies. </p>
      <p>If you're ready to take your sports betting game to the next level, look no further. Join us and start winning today!</p>
    </div>
  </div>
</div>
{% endblock %}


